@media only screen and (max-width: 800px) {
  div.frame {
    
    flex-direction: column !important;
    position: relative;
    width: 100%;
 }
} 


@media only screen and (max-width: 800px) {
  div.card {
    position: relative;
    display: flex !important;
    flex-direction: column !important;
    width: "100%";
    
  }
} 
